.contries-main-container {
  max-height: 100vh;
  overflow: auto;
  display: flex;
  border: .5px solid rgb(174, 174, 174);
  margin-top: 1rem;
}

.countries-container {
  max-height: 100vh;
  overflow: auto;
  width: 30%;
  border: .5px solid rgb(174, 174, 174);
}

.country-info-container {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  width: 70%;
  border: .5px solid rgb(174, 174, 174);
}